<a href="https://colab.research.google.com/github/raj-99/python101/blob/main/Sets_%26_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functionalities

In [1]:
# Scaler Hotel

register = {
  'A': 100,
  'D': 205,
  'G': 401
}

In [2]:
# get

# Method 1
# print(register['A'])
# print(register['B'])

# Method 2
print(register.get('A'))
print(register.get('B'))

print(register.get('B', 'Guest not in hotel'))

100
None
Guest not in hotel

In [3]:
#add

register['B'] = 300

print(register)

{'A': 100, 'D': 205, 'G': 401, 'B': 300}

In [4]:
#update

register['B'] = 305
print(register)

{'A': 100, 'D': 205, 'G': 401, 'B': 305}

In [5]:
# remove

register = {
    'A': 100,
    'D': 205,
    'G': 401,
    'B': 305
}

room = register.pop('A')
print(register)

{'D': 205, 'G': 401, 'B': 305}

In [6]:
# length

print(len(register))

3

In [7]:
# dictionaries are heterogeneous


d = {
    1: "Hello",
    True: [None, 2.3],
    (1, 2, 3): {'a': 1}
}
print(d)

{1: [None, 2.3], (1, 2, 3): {'a': 1}}

In [8]:
# Iterating a dictionary

nicknames = {
  'Madhuri': 'Sweety',
  'Vinoth': 'Appu',
  'Shubham': 'Zoo Zoo',
  'Kusum': 'Ku Ku',
  'Manish': 'Monu'
}

In [9]:
# Using keys

# print(nicknames.keys())

for key in nicknames.keys() :
  print(key, nicknames.get(key), sep='->')

Madhuri->Sweety
Vinoth->Appu
Shubham->Zoo Zoo
Kusum->Ku Ku
Manish->Monu

In [10]:
# Using values

print(nicknames.values())

for value in nicknames.values() :
  print(value)

dict_values(['Sweety', 'Appu', 'Zoo Zoo', 'Ku Ku', 'Monu'])
Sweety
Appu
Zoo Zoo
Ku Ku
Monu

In [11]:
# Using key-value pairs

print(nicknames.items())

for k, v in nicknames.items() :
  print(k, v, sep=' -> ')

dict_items([('Madhuri', 'Sweety'), ('Vinoth', 'Appu'), ('Shubham', 'Zoo Zoo'), ('Kusum', 'Ku Ku'), ('Manish', 'Monu')])
Madhuri -> Sweety
Vinoth -> Appu
Shubham -> Zoo Zoo
Kusum -> Ku Ku
Manish -> Monu

In [12]:
# Frequently used way

for key in nicknames :
  print(key, nicknames[key], sep=' -> ')

Madhuri -> Sweety
Vinoth -> Appu
Shubham -> Zoo Zoo
Kusum -> Ku Ku
Manish -> Monu

In [13]:
# in (membership operator)

print('A' in register)
print('B' in register)

False
True

In [15]:
# Frequency Map
# Given a sentence, count the numbers of times each word is used.

sentence = "My name is Aarnav My age is 27"

words = sentence.split()
freqmap = {}

for word in words:
  if(word in freqmap):
    freqmap[word] = freqmap[word] + 1
  else:
    freqmap[word] = 1

print(freqmap)

{'My': 2, 'name': 1, 'is': 2, 'Aarnav': 1, 'age': 1, '27': 1}

In [16]:
# Combine Dictionaries
# You will get 2 dictionaries

# Add them together
# Add the common keys, add their values
# Keep the single key, value pairs as it is

d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'a': 1, 'b': 2, 'd': 4}
# ans = {'a': 2, 'b': 4, 'c': 3, 'd': 4}

ans = d1

for key in d2:
  if(key in ans):
    ans[key] = ans[key] + d2[key]
  else:
    ans[key] = d2[key]
  print(ans)

{'a': 2, 'b': 2, 'c': 3}
{'a': 2, 'b': 4, 'c': 3}
{'a': 2, 'b': 4, 'c': 3, 'd': 4}

In [17]:
# Key and Value Types

# Keys can only be immutable
# Value can be immutable as well as mutable

# d = {
#     (1, 2): "Hello"
# }

d = {
    [1, 2]: "Hello"
}

TypeError: unhashable type: 'list'

SETS

In [18]:
# Properties of sets:

# Sets are unordered, which means we can not use indexing.
# Sets are iterable
# Sets are heterogeneous, which means they can have any data type value.
# Sets should only contain immutable data types.

In [19]:
# Initialisation

s = set()
print(s, type(s), len(s))

set() <class 'set'> 0

In [20]:
s = {1, 2, 2, 3, 3, 4, 4, 4}
print(s, len(s))

{1, 2, 3, 4} 4

In [21]:
# No indexing

print(s[0])

TypeError: 'set' object is not subscriptable

Functions

In [22]:
colors = {'red', 'black', 'blue'}

In [23]:
# adding items

colors.add('green')
print(colors)

colors.add('green')
print(colors)

{'blue', 'black', 'red', 'green'}
{'blue', 'black', 'red', 'green'}

In [24]:
# removing items

colors.remove('green')
print(colors)

{'blue', 'black', 'red'}

In [25]:
# length

print(len(colors))

3

In [26]:
# iterating a set

for c in colors :
  print(c)

blue
black
red

In [27]:
# membership operator

print('black' in colors)
print('yellow' in colors)

True
False

In [28]:
# Given a sentence, count the numbers of unique words used.

sentence = "My name is Aarnav My age is 27"

# {"My", "name", "age", "is", "Aarnav", "27"}
st = set()

words = sentence.split()
for word in words:
  st.add(word)

print(len(st))

6

In [29]:
sentence = "My name is Aarnav My age is 27"
words = sentence.split()
words = set(words)
print(words)
print(len(words))

{'name', 'My', 'is', '27', 'Aarnav', 'age'}
6

Usefulness of Sets

In [31]:
food_that_you_like_to_eat = {'Pizza', 'Noodles', 'Pasta'}
food_that_are_expensive = {'Pizza', 'Croissant', 'Avocado'}

In [32]:
# Union
# Combining and finding all the unique items in 2 sets

print(food_that_you_like_to_eat.union(food_that_are_expensive))
print(food_that_are_expensive.union(food_that_you_like_to_eat))

{'Avocado', 'Noodles', 'Pasta', 'Pizza', 'Croissant'}
{'Avocado', 'Noodles', 'Pasta', 'Pizza', 'Croissant'}

In [33]:
# Intersection
# Find the common items among 2 sets

print(food_that_you_like_to_eat.intersection(food_that_are_expensive))
print(food_that_are_expensive.intersection(food_that_you_like_to_eat))

{'Pizza'}
{'Pizza'}

In [34]:
# Difference operation

# What are the items I like to eat but are not expensive?
print(food_that_you_like_to_eat - food_that_are_expensive)

# What are the items that are expensive and I don't like to eat?
print(food_that_are_expensive - food_that_you_like_to_eat)

{'Noodles', 'Pasta'}
{'Avocado', 'Croissant'}

In [39]:
# F - Friends
# L - Love
# A - Affair
# M - Marriage
# E - Enemy
# s - Sibling

# We will take a girl's and a boy's name, and
# then we have to find the relationship between them.

# aarnav
# varsha

# a, r, v

w1 = set('aarnav')
w2 = set('varsha')

commonChar = w1.intersection(w2)
print(commonChar)

ls = ['F','L','A','M','E','S']
print(ls[len(commonChar) - 1])

{'v', 'r', 'a'}
A

In [40]:
name1 = "aarnav"
name2 = "varsha"

common = set(name1).intersection(set(name2))
print(common)

FLAMES = "FLAMES"
print(FLAMES[len(common)-1])

{'v', 'r', 'a'}
A